*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
}


a {
    color: inherit;
    text-decoration: none;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    --bg: #ffffff;
    --text: #111111;

    --chart-grid: rgba(0, 0, 0, 0.1);
    --chart-line-original: #8884d8;
    --chart-line-a: #ff7300;
    --chart-line-b: #82ca9d;
    --chart-line-c: #d84a90;
}

.theme-dark {
    --bg: #0f172a;
    --text: #e2e8f0;

    --chart-grid: rgba(255, 255, 255, 0.1);
}