*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg);
    color: var(--text);
}


a {
    color: inherit;
    text-decoration: none;
}


#root {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

:root {
    --bg: #ffffff;
    --text: #111111;

    --chart-grid: rgba(0, 0, 0, 0.1);
    --chart-line-original: #8884d8;
    --chart-line-a: #ff7300;
    --chart-line-b: #82ca9d;
    --chart-line-c: #d84a90;

    --toolbar-button-bg: #ffffff;
    --toolbar-button-border: #e1dfe7;
    --toolbar-button-icon: #5e5d67;

    --transition-duration: 0.2s;
}

:root.theme-dark {
    --bg: #000027;
    --text: #918f9a;

    --toolbar-button-bg: #020230;
    --toolbar-button-border: #4b4765;

    --chart-grid: rgba(255, 255, 255, 0.1);
}



a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}