.conversion-chart {
    width: 100%;
    background-color: var(--bg);
    color: var(--text);

    padding: 1.6rem 2.4rem 2.4rem;

    &__toolbar {
        padding-left: 3.4rem;
        padding-right: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: clamp(0.6rem, 1vw, 1rem);
        background-color: var(--bg);
        color: var(--text);
    }

    &__toolbar-left {
        display: flex;
        gap: clamp(0.6rem, 1vw, 1rem);
    }

    &__toolbar-right {
        display: flex;
        align-items: center;
        gap: clamp(0.6rem, 1vw, 0.8rem);
    }

    &__icon-group {
        display: flex;
        align-items: center;
        gap: clamp(0.6rem, 1vw, 0.8rem);
    }

    &__chart {
        width: 100%;
        height: clamp(28rem, 30vw, 36rem);
        min-height: 20rem;

    }
}

.zoom-group {
    display: inline-flex;
    border-radius: 0.4rem;
    overflow: hidden;
    border: 1px solid var(--toolbar-button-border);
    height: clamp(2.4rem, 2.1vw, 2.7rem);
}

.toolbar-button,
.zoom-button {
    box-sizing: border-box;
    padding: 0;
    width: clamp(2.4rem, 2.1vw, 2.7rem);
    height: clamp(2.4rem, 2.1vw, 2.7rem);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border: 1px solid var(--toolbar-button-border);
    border-radius: 0.4rem;
    cursor: pointer;
    color: var(--toolbar-button-icon);
}

.zoom-button {
    border: none;
}

.zoom-button--minus {
    border-right: 1px solid var(--toolbar-button-border);
    border-radius: 0.4rem 0 0 0.4rem;
}

.zoom-button--plus {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 0 0 0 0.4rem;
}

.toolbar-button--reset {
    border: none;
    background-color: var(--bg);
}

@media (max-width: 750px) {
    .conversion-chart__toolbar {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

}